## __Control Flow __

### __If Statement __

_if statement is a conditional statement that runs or skips code based on whether a condition is true or false_

In [41]:

phone_balance = 4
if phone_balance < 5:
    phone_balance += 10
#    bank_balance -= 10
print(phone_balance)

14

In [37]:
phone_balance

10

In [2]:
salary=[100000,50000,40000,10000,25000,48000,80000,1250000]

In [3]:
for i in salary:
    if i > 99999:
        print('Hike for {} is {}'.format(i,i))
    else:
        print('Hike for {} is {}'.format(i,int(i*1.1)))

Hike for 100000 is 100000
Hike for 50000 is 55000
Hike for 40000 is 44000
Hike for 10000 is 11000
Hike for 25000 is 27500
Hike for 48000 is 52800
Hike for 80000 is 88000
Hike for 1250000 is 1250000

In [25]:
salary=int(input('Enter salary:'))

Enter salary:1000

### __If, Elif, Else __

In [5]:
#season=['spring','summer','fall','winter']

season='fall'

if season == 'spring':
    print('plant the garden!')
elif season == 'summer':
    print('water the garden!')
elif season == 'fall':
    print('harvest the garden!')
elif season == 'winter':
    print('stay indoors!')
else:
    print('unrecognized season')

harvest the garden!

## Loops

### For Loops 

_A for loop is used to "iterate", or do something repeatedly, over an iterable_                                                 
_An iterable is an object that can return one of its elements at a time, such as strings, lists, and tuples, as well as non-sequence types, such as dictionaries and files_

In [6]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
for city in cities:
    print(city)
print("Done!")

new york city
mountain view
chicago
los angeles
Done!

In [7]:
for i in range(3):
    print("Hello!")

Hello!
Hello!
Hello!

In [8]:
# Creating a new list
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
capitalized_cities = []

for city in cities:
    capitalized_cities.append(city.title())


### While Loops 

_This differs from "indefinite iteration" which is when a loop repeats an unknown number of times and ends when some condition is met, which is what happens in a while loop_

In [9]:
card_deck = [4, 11, 8, 5, 13, 2, 8, 10]
hand = []

In [10]:
while sum(hand)  < 17:
    hand.append(card_deck.pop())


### Break, Continue 

_Sometimes we need more control over when a loop should end, or skip an iteration. In these cases, we use the break and continue keywords, which can be used in both for and while loops_

_break terminates a loop_                                                                                                       
_continue skips one iteration of a loop_

In [12]:
manifest = [("bananas", 15), ("mattresses", 24), ("dog kennels", 42), ("machine", 120), ("cheeses", 5)]

# the code breaks the loop when weight exceeds or reaches the limit
print("METHOD 1")
weight = 0
items = []
for cargo_name, cargo_weight in manifest:
    print("current weight: {}".format(weight))
    if weight >= 100:
        print("  breaking loop now!")
        break
    else:
        print("  adding {} ({})".format(cargo_name, cargo_weight))
        items.append(cargo_name)
        weight += cargo_weight

print("\nFinal Weight: {}".format(weight))
print("Final Items: {}".format(items))

METHOD 1
current weight: 0
  adding bananas (15)
current weight: 15
  adding mattresses (24)
current weight: 39
  adding dog kennels (42)
current weight: 81
  adding machine (120)
current weight: 201
  breaking loop now!

Final Weight: 201
Final Items: ['bananas', 'mattresses', 'dog kennels', 'machine']


### Zip and Enumerate


_zip returns an iterator that combines multiple iterables into one sequence of tuples. Each tuple contains the elements in that position from all the iterables_

In [13]:
#letters = ['a', 'b', 'c']
#nums = [1, 2, 3]

letters = ('a', 'b', 'c')
nums = (1, 2, 3)

for letter, num in zip(letters, nums):
    print("{}: {}".format(letter, num))

a: 1
b: 2
c: 3

In [15]:
list(zip(letters, nums))

[('a', 1), ('b', 2), ('c', 3)]

In [16]:
tuple(zip(letters, nums))

(('a', 1), ('b', 2), ('c', 3))

In [15]:
# In addition to zipping two lists together, you can also unzip a list into tuples using an asterisk.
some_list = [('a', 1), ('b', 2), ('c', 3)]
letters, nums = zip(*some_list)


### Enumerate


_Enumerate is a built in function that returns an iterator of tuples containing indices and values of a list. You'll often use this when you want the index along with each element of an iterable in a loop_

In [16]:
letters = ['a', 'b', 'c', 'd', 'e']
for i, letter in enumerate(letters):
    print(i, letter)

0 a
1 b
2 c
3 d
4 e


### List Comprehensions

In [4]:
# Normal way of writing

cities=['Delhi','Mumbai','Chennai','Kolkata','Bangalore']

capitalized_cities = []
for city in cities:
    capitalized_cities.append(city.title())

In [3]:
capitalized_cities

['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Bangalore']

In [5]:
#Using List Comprehensions

capitalized_cities = [city.title() for city in cities]


### Conditionals in List Comprehensions

In [8]:
squares = [x**2 for x in range(9) if x % 2 == 0]

squares

[0, 4, 16, 36, 64]

In [ ]:
# Was this expected
squares = [x**2 for x in range(9) if x % 2 == 0 else x + 3]

In [9]:
squares = [x**2 if x % 2 == 0 else x + 3 for x in range(9)]
squares

[0, 4, 4, 6, 16, 8, 36, 10, 64]


### Functions

In [37]:
# Defining Functions
def cylinder_volume(height, radius):
    pi = 3.14159
    return height * pi * radius ** 2

In [11]:
# function call
cylinder_volume(10, 3)

282.7431

In [108]:
# Defining Functions
def experience(exp):
    
    if exp < 3:
        return('Employee is in junior level')
        
    elif exp < 6:
        return('Employee is in Senior Role')
    
    elif exp < 9:
        return('Employee is in Lead Role')
    
    else:
        return('Employee is in Architect Role')

In [110]:
a=experience(4)

In [111]:
a

'Employee is in Senior Role'

In [116]:
# Defining Functions
def experience(exp):
    
    if exp<3:
        print('Employee is in junior level')
        
    elif exp < 6:
        print('Employee is in Senior Role')
    
    elif exp < 9:
        print('Employee is in Lead Role')
    
    else:
        print('Employee is in Architect Role')

In [117]:
a=experience(4)

Employee is in Senior Role

In [118]:
a


### Print vs Return in Functions

In [11]:
# function call
cylinder_volume(10, 3)

282.7431

In [13]:
# this prints something, but does not return anything
def show_plus_ten(num):
    print(num + 10)

# this returns something
def add_ten(num):
    return(num + 10)

print('Calling show_plus_ten...')
return_value_1 = show_plus_ten(5)
print('Done calling')
print('This function returned: {}'.format(return_value_1))

print('\nCalling add_ten...')
return_value_2 = add_ten(5)
print('Done calling')
print('This function returned: {}'.format(return_value_2))

Calling show_plus_ten...
15
Done calling
This function returned: None

Calling add_ten...
Done calling
This function returned: 15

## Lambda Expressions

_Anonymous Functions_

In [89]:
multiply = lambda x:x**2

In [57]:
multiply

(<function __main__.<lambda>>, [1, 2, 3])

In [54]:
from functools import reduce

In [86]:
list_1=list(map(lambda x:x**2,[4,5,6]))

list_2=list(filter(lambda x:x<5,[4,5,6]))

list_3=reduce(lambda x,y:x+y,[4,5,6,11])

print(list_1)
print(list_2)
print(list_3)

[16, 25, 36]
[4]
26

In [126]:
a=list(map(lambda x:x**2,[4,5,6]))

In [130]:
list_2=list(filter(lambda x:x<5,[4,5,6,7,1,5,8]))

In [131]:
list_2

[4, 1]

In [125]:
map(lambda x:x**2,[1,2,3])

In [88]:
print(type(list_1))
print(type(list_2))
print(type(list_3))

<class 'list'>
<class 'list'>
<class 'int'>

In [58]:
#a=reduce(multiply,[4,5,6])